extends layout

block content
  nav
    div.nav-content
      div.nav-links
        div
          a(href='/')
            p Home
          if (!user)
            a(href='/sign-up')
              p Sign Up
            a(href='/sign-in')
              p Sign In
          if (user)
            a(href='/sign-out')
              p Sign Out
        div
          if (user && !user.isMember)
            a(href='/apply-member')
              p Become a Member
          if (user && !user.isAdmin)
            a(href='/apply-admin')
              p Become an Admin


  main.content
    h1= title
    .content-display
      .content-container
      .content-container#messages-container
        .messages-content
          ul.messages
            each message in messages
              if (user)
                li
                  p.message-title #{message.user.username} : #{message.title}
                  p.message-text #{message.date_formatted} #{message.text}
                  if (user.isAdmin)
                    form(method='POST' action='/delete-message')
                      input#messageId(type='hidden' name='messageId' required='true' value=message._id)
                      button(type='submit') Delete
              else
                li
                  p.message-title #{message.title}
                  p.message-text #{message.text}
        if (user)
          form.new-message-container(method='POST' action='/send-message')
            .message-control
              input#title(type='text' name='title' placeholder='Title' required='false')
            .message-control
              input#message(type='text' name='text' placeholder='Message' required='true')
            div
              button.submit-message(type='submit') Submit

      .content-container
        if (user)
          .user-info
              p Welcome #{user.username}!
              p Member? #{user.isMember}
              p Admin? #{user.isAdmin}




